<ion-header>
  <ion-toolbar>
  
    <ion-title id="loginh">login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div>
        <ion-input id="ioninput" #inpemail value="deepu@gmail.com"></ion-input>
        <ion-input id="ioninput" #inppassword value="iloveyou"></ion-input>
        <ion-input id="ioninput" #pdc value="Ratnaddep pass data"></ion-input>
        <ion-button id="loginbtnn" (click)="login(inpemail.value,inppassword.value,pdc.value)" color="success" >login</ion-button>
</div><br><br><br><br><br><br><br><br><br><br>
<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <ion-button href="display-page" id="displaybtn">display</ion-button>
    </div>
    <div class="col-3">
      <ion-button href="jsondata" id="jsondatabtn">jsondata</ion-button>
    </div>
    <div class="col-3">
      <ion-button href="curdme" id="curdbtn">CURD</ion-button>
    </div>
    <div class="col-3">
      <ion-button href="restapi-page" id="restapibtn">REST API</ion-button>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <ion-button href="bootstraptut" id="displaybtn">Bottstrap</ion-button>
    </div>
    <div class="col-3">
      <ion-button href="chat1" id="jsondatabtn">Chat1</ion-button>
    </div>
    <div class="col-3">
      <ion-button href="chat2" id="curdbtn">chat2</ion-button>
    </div>
    <div class="col-3">
      <ion-button href="restapi-page" id="restapibtn">github</ion-button>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <ion-button href="display-page" id="displaybtn">display</ion-button>
    </div>
    <div class="col-3">
      <ion-button href="jsondata" id="jsondatabtn">jsondata</ion-button>
    </div>
    <div class="col-3">
      <ion-button href="curdme" id="curdbtn">CURD</ion-button>
    </div>
    <div class="col-3">
      <ion-button href="restapi-page" id="restapibtn">REST API</ion-button>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <ion-button href="bootstraptut" id="displaybtn">Bottstrap</ion-button>
    </div>
    <div class="col-3">
      <ion-button href="chat1" id="jsondatabtn">Chat1</ion-button>
    </div>
    <div class="col-3">
      <ion-button href="chat2" id="curdbtn">chat2</ion-button>
    </div>
    <div class="col-3">
      <ion-button href="restapi-page" id="restapibtn">github</ion-button>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <ion-button href="display-page" id="displaybtn">display</ion-button>
    </div>
    <div class="col-3">
      <ion-button href="jsondata" id="jsondatabtn">jsondata</ion-button>
    </div>
    <div class="col-3">
      <ion-button href="curdme" id="curdbtn">CURD</ion-button>
    </div>
    <div class="col-3">
      <ion-button href="restapi-page" id="restapibtn">REST API</ion-button>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <ion-button href="bootstraptut" id="displaybtn">Bottstrap</ion-button>
    </div>
    <div class="col-3">
      <ion-button href="chat1" id="jsondatabtn">Chat1</ion-button>
    </div>
    <div class="col-3">
      <ion-button href="chat2" id="curdbtn">chat2</ion-button>
    </div>
    <div class="col-3">
      <ion-button href="restapi-page" id="restapibtn">github</ion-button>
    </div>
  </div>


  
  </div>    
    <div>{{ htmlStr }}</div>
    <div>{{ htmlStr1 }}</div>
 
</ion-content>
