#ioninput{
    margin-left:210px;
    border:2px solid grey;
    margin-top:-30px;
    border-radius:5px;
    height:25px;
    width:300px;
}
#loginbtnn{
    margin-top:50px;
    margin-left:-80px;
}
#circle{
    border:2px solid green;
    border-radius:100px;
    width:40px;
    height:40px;
    Text-align:center;
    margin-top:-20px;
    
    
}
#horstar{
    font-size:2em;
}
#saname{
    margin-top:-60px;
    margin-left:30px;
}
#subname{
    font-size: 1em;
    margin-left:50px;
    margin-top:-20px;
    color:grey;
}
#ctext{
    text-align:center;
    font-size: 1.5em;
    margin-top:5px;
}
label {
    width:240px;
    display: inline-block;
}
#rating{
    color:red;
}
#rating1{
    margin-left:210px;
    margin-top:-50px;
    float:left;
}
#rating2{
    margin-left:240px;
    margin-top:-49px;
    float:left;
}
#rating3{
    margin-left:270px;
    margin-top:-48px;
    float:left;
}
#rating4{
    margin-left:300px;
    margin-top:-48px;
    float:left;
}
#rating5{
    margin-left:330px;
    margin-top:-48px;
    float:left;
}

