input{
    //display:inline-block;
    //width:240px;
   // padding:6px;
   margin-left:150px;
   width:300px;
   margin-top:-30px;
   
}
label{

   //display:inline-block;
    margin-left:100px;
    margin-top:30px;
    
}