<ion-header>
  <ion-toolbar>
    <ion-title>restapi(JSON)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<h1 style="color:red">using get operation to fetch these details</h1>
<div class="container-fluid">
<table class="table">
  <thead class="thread-dark">
    <tr>
      <th scope="col">id</th>
      <th scope="col">name</th>
      <th scope="col">email</th>
      <th scope="col">gender</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of allUser">
      <th scope="row">{{user.id}}</th>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.gender}}</td>
    </tr>
  </tbody>
</table>
</div>
<br><br>
<div class ="container" style="border:2px solid orange;">
<form #userForm="ngForm">
  <div class="form-group">
    <label>id:</label>
    <input type="text" id="inpid" class="form-control" name="id" placeholder="Enter id" [(ngModel)]="id">
  </div>
  <div class="form-group">
    <label>name:</label>
    <input type="text" id="inpid" class="form-control" name="name" placeholder="Enter name" [(ngModel)]="name">
  </div>
  <div class="form-group">
    <label>Email:</label>
    <input type="email" id="inpid" class="form-control" name="email" placeholder="Enter email" [(ngModel)]="email">
  </div>
  <div class="form-group">
    <label>gender:</label>
    <input type="text" id="inpid" class="form-control" name="gender" placeholder="Enter gender" [(ngModel)]="gender">
  </div>
  <div style="margin-left:250px; margin-top:10px;">
    <button type="submit" (click)="submit(userForm.value)" class="btn btn-primary">POST</button>
  </div>
  
</form>
<br>
</div>
<!--div>
<div >
    <button type="submit" (click)="uput()"  class="btn btn-primary">PUT</button>
  </div>
  <div >
    <button type="submit" (click)="udel()" class="btn btn-primary">DELETE</button>
  </div>
  </div-->
</ion-content>
